.cookie img{
    width: 80px;
    height: 80px
}
.cookie{
    background-color: white;
    border-radius: 10px;
} 
#Font{
    font-family: 'Anton', sans-serif; 
}
#cleaner-card{
    border: 0;
}
#cleaner-card-footer{
    background-color: white;
    border: 0;
}
.Best-Selling-Cleaner{
    width: 100%;
    height: 200%;
    background-image: linear-gradient(to right, rgba(25, 25, 112, 0.705), rgba(12, 85, 158, 0.445) )
}
.logo{
    width: 150px;
}
.cleansol-img{
    width: 200px;
}
#buy-now-btn{
    color: white;
    padding: 14px 30px;
    border-radius: 15px;
}
#price{
    font-size: 25px;
    font-weight: 500px;
    color: rgb(4, 69, 143)   
}
.cleaner-img{
    width: 100px;    
}
.Best-Selling-Cleaner img{
    size: 30%;
}
.stay-in-touch{
    width: 100%;
    height: 300px; 
    background-image: linear-gradient(to right, rgba(25, 25, 112, 0.705), rgba(12, 85, 158, 0.445) )  
}
.all-icons{
    border-top: 2px dotted;
    background-image: linear-gradient(to right, rgba(25, 25, 112, 0.705), rgba(12, 85, 158, 0.445) )
}
.icons{
    margin-top: 10px;
    font-size: 30px;
    padding: 10px 20px 0px 0px;
}